/*!
 * =====================================================
 * 自定义皮肤 by wufeng 2015/10/03
 * =====================================================
 */
body{font-family:'微软雅黑';}
ul,li,ol{list-style-type: none;margin: 0;padding: 0;}
.clear-fixed{clear: both;width: 100%;}
.mui-table-view-cell:after,.mui-table-view:before,.mui-table-view:after{display: none;}
.oa-contact-cell{margin: 0;}
/*添加的字体*/
@font-face {font-family: "iconfont";
  src:url('../fonts/iconfont.woff') format('woff'); /* chrome、firefox */
  url('./fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:1.6rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-me:before { content: "\e609"; }
.icon-kaozheng:before { content: "\e602"; }
.icon-ditu:before { content: "\e603"; }
.icon-gengduo:before { content: "\e604"; }
.icon-art:before { content: "\e605"; }
.icon-icon2:before { content: "\e606"; }
.icon-xiaoyuzhong:before { content: "\e607"; }
.icon-duoren:before { content: "\e60a"; }
.icon-xiaoxi:before { content: "\e60b"; }
.icon-cet:before { content: "\e600"; }
.icon-kaogong:before { content: "\e608"; }
.icon-zhuye:before { content: "\e601"; }


/*头部*/
.app-header{background: #479eef;}
.app-header .mui-title{color: #fff;font-size:1.4rem;}
.app-local{color: #fff;font-size: 1.2rem;}

/*底部导航*/
.mui-bar .iconfont {display:block;font-size: 1.2rem;margin-top: 4px;}
.mui-bar .icon-duoren{font-size: 1.5rem;}
.mui-bar .mui-tab-label{font-size: .6rem;}

/*首页*/
.mui-slider-indicator .mui-indicator{background:#75bcff;}

.app-center-grid {background: #fff;padding:.2rem 0 .5rem!important;position: relative;top: 0px;overflow: hidden;border-bottom: 1px solid #eee;}
.app-center-grid:before{content:''; position: absolute;height: 20px;width: 200%;top: -20px;box-shadow: 10px 10px 15px #AFAFA8;left: -100px;z-index: 9;}
.app-center-grid li{width: 25%;float: left;text-align: center;}
.app-center-grid li span{display: block;color: #585757;font-size: .9rem;margin: .3rem 0 .1rem;text-align: center;}
.app-center-grid li .iconfont{background: #000; color: #fff;height: 3.6rem;width: 3.6rem;display: inline-block;border-radius: 100%;font-size: 2.0rem;padding-top: 1.3rem;}
.app-center-grid li:nth-child(1) .iconfont{background: #75bcff;}
.app-center-grid li:nth-child(2) .iconfont{background: #bcdf2d;}
.app-center-grid li:nth-child(3) .iconfont{background: #51e8ad;padding-top: 1.1rem;}
.app-center-grid li:nth-child(4) .iconfont{background: #ffce1e;padding-left: 0.3rem;}
.app-center-grid li:nth-child(5) .iconfont{background: #86d855;}
.app-center-grid li:nth-child(6) .iconfont{background: #a5beff;}
.app-center-grid li:nth-child(7) .iconfont{background: #ffbc94;font-size: 1.6rem;padding-top: 1.1rem;}
.app-center-grid li:nth-child(8) .iconfont{background: #ff9a93;font-size: 1.5rem;padding-top: 1.2rem;}

.app-three-grid{background: #fff;padding: .5rem 0;}
.app-three-grid li{width: 33.33333%;float: left;text-align: center;}
.app-three-grid li.mid{border-left: 1px solid #eee;border-right: 1px solid #eee;}
.app-three-grid li img{width:96%;}

.app-class-list{margin-top: .5rem;background: #fff;}
.app-class-list h2{background: #fff;margin: 0; font-weight: normal; color: #000;border-left:3px solid #2f9bd2;border-bottom: 1px solid #eee; line-height: 2rem;font-size: 1rem;padding: 0 1rem;}
.app-class-list h2 .more{color: #666;display: inline-block;float: right;padding: 0 20px;font-size:.8rem; background: url(../images/drawable-mdpi/more.png) no-repeat right center;}
.app-class-list li{border-bottom: 1px solid #eee;}
.app-class-list .class-logo{display: inline-block;}
.app-class-list .class-logo img{width: 95%;border-radius: 100%;width: 60px;}
.app-class-list h3{font-weight: normal; color: #000; line-height:1rem;font-size: 1rem;}
.app-class-list .sale-off{background: #86d855;color: #fff;font-size: 12px;display: inline-block;line-height: 16px;padding: 0 5px;}
.app-class-list .class-info a{background: #fa9029;color:#fff;font-size: .8rem;line-height: 3rem;border-radius: 4px;padding: 0 8px;margin-left: 7px;}

