/*reset*/

.mui-content {
	margin-bottom: 50px;
}
ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}
/*头部和按钮颜色*/

.mui-bar-nav {
	background: #479eef;
}
.mui-bar-nav .mui-title {
	color: #fff;
	font-size: 1.2rem;
}
.mui-icon {
	color: #fff;
	font-size: 1.2rem;
}
.mui-btn {
	background: #479eef;
}
/*图标部分*/

@font-face {
	font-family: 'iconfont';
	src: url('../fonts/iconfont.eot');
	/* IE9*/
	
	src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
	/* IE6-IE8 */
	
	url('../fonts/iconfont.woff') format('woff'),
	/* chrome、firefox */
	
	url('../fonts/iconfont.ttf') format('truetype'),
	/* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	
	url('../fonts/iconfont.svg#iconfont') format('svg');
	/* iOS 4.1- */
}
.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
/*表单*/

.input-group {
	width: 100%;
	padding: 10px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	-webkit-box-shadow: 0px 2px 3px hsla(0, 0%, 0%, 0.2);
	background: #fff;
	float: left;
}
.mui-radio.mui-left input[type=radio],
.mui-radio.mui-left input[type=radio] {
	left: 10px;
	top: 0;
}
.input-group li {
	width: 100%;
	float: left;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
	display: -webkit-box;
	padding: 5px 0px;
	margin-top: 10px;
}
.input-group li span {
	display: block;
	font-size: 0.95em;
	width: 85px;
	white-space: nowrap;
	text-align: right;
	color: #000;
	height: 40px;
	line-height: 40px;
}
.input-group li input,
.input-group li textarea {
	-webkit-box-flex: 1;
	font-size: 0.95em;
	border: none;
	height: 40px;
	line-height: normal;
	padding: 0;
	margin: 0;
	margin-left: 15px;
}
.input-group li button{
	height: 40px;
	width: 250px;
	border: 0px;
}
.input-group li textarea {
	height: 80px;
}
.mui-icon .edit {
	font-size: 1.2em;
	top: 9px;
	position: relative;
	color: #ccc;
}
.view {
	height: 40px;
	margin-left: 15px;
}
.upload-img {
	font-size: 3.2em;
	position: relative;
	top: -2px;
	margin-left: 15px;
	color: #ccc;
}
.kujyuu {
	width: 96%;
	padding: 12px 0;
	font-size: 1.2em;
	margin: 0px 2%;
}