/*reset*/

.mui-content {
	background: #fff;
	margin-bottom: 50px;
}
ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}
/*头部和按钮颜色*/
.mui-bar-nav{background: #479eef;}
.mui-bar-nav .mui-title{color: #fff;font-size:1.2rem;}
.mui-icon{color: #fff;font-size: 1.2rem;}
.mui-btn{background: #479eef;}
/*图标部分*/

@font-face {
	font-family: 'iconfont';
	src: url('../fonts/iconfont.eot');
	/* IE9*/
	
	src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
	/* IE6-IE8 */
	
	url('../fonts/iconfont.woff') format('woff'),
	/* chrome、firefox */
	
	url('../fonts/iconfont.ttf') format('truetype'),
	/* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	
	url('../fonts/iconfont.svg#iconfont') format('svg');
	/* iOS 4.1- */
}
.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
/*文字提示*/

.tips {
	height: 43px;
	color: #666;
	border-bottom: 1px solid #d9d9d9;
	line-height: 43px;
	padding-left: 51px;
	font-size: 0.8em;
}
.tips img {
	height: 16px;
	margin-left: 10px;
}
/*购物车列表*/

.cart-list li {
	padding: 14px 10px;
	border-bottom: 1px solid #d9d9d9;
}
.display-box {
	display: -webkit-box;
}
.cart-checkbox {
	width: 41px;
}
.img {
	display: block;
	width: 100px;
	height: 70px;
	-webkit-box-shadow: 0px 2px 3px lightslategray;
}
.mui-checkbox.mui-left input[type=checkbox],
.mui-radio.mui-left input[type=radio] {
	left: 0px;
}
.cart-box {
	margin-left: 10px;
	-webkit-box-flex: 1;
}
.cart-box h3 {
	font-size: 1.0em;
	font-weight: normal;
	white-space: normal;
}
.mui-checkbox.mui-left label,
.mui-radio.mui-left label {
	width: auto;
	color: #e34e4e;
	margin-left: 0;
	padding-left: 0;
}
.mui-numbox {
	width: 90px;
	height: 30px;
	padding: 0 30px;
}
.mui-numbox [class*=mui-numbox-btn] {
	width: 30px;
}
/*删除开始*/
.mui-bar .mui-pull-right{color: #fff; border-color: #fff;padding: 4px 8px;}
.fixed {
	position: fixed;
	bottom: 0;
	height: 50px;
	width: 100%;
	z-index: 2;
}
.cart-btn,
.buy-btn {
	width: 61.8%;
	height: 50px;
	background: #4d4d4d;
	text-align: center;
	color: #fff;
	line-height: 50px;
	float: left;
}
.cart-btn .iconfont {
	font-size: 1.3em;
}
.buy-btn {
	display: block;
	width: 38.2%;
	background: #479eef;
}