/*reset*/
ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}/*头部和按钮颜色*/
.mui-bar-nav{background: #479eef;}
.mui-bar-nav .mui-title{color: #fff;font-size:1.2rem;}
.mui-icon{color: #fff;font-size: 1.2rem;}
.mui-btn{background: #479eef;}
/*图标部分*/

@font-face {
	font-family: 'iconfont';
	src: url('../fonts/iconfont.eot');
	/* IE9*/
	
	src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
	/* IE6-IE8 */
	
	url('../fonts/iconfont.woff') format('woff'),
	/* chrome、firefox */
	
	url('../fonts/iconfont.ttf') format('truetype'),
	/* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	
	url('../fonts/iconfont.svg#iconfont') format('svg');
	/* iOS 4.1- */
}
.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
/*筛选菜单*/

.select {
	height: 50px;
	position: fixed;
	top: 44px;
	width: 100%;
	z-index: 3;
	background: #fff;
	border-bottom: 1px solid #d9d9d9;
}
.select a{width: 49%;
	display: inline-block;
	height: 49px;
	line-height: 49px;
	text-align: center;
	font-size: 1em;
	color: #999;}
.select a span {
	font-size: 0.75em;
	padding-left: 5px;
}
.select a:first-child {
	border-right: 1px solid #d9d9d9;
}
.select .btn-hover {	
	color: #479eef;
	border-bottom: 2px solid #479eef;
}
#hide-box{
	height: 100%;
	width: 100%;
	display: none;
	position: fixed;
	background: hsla(0,0%,0%,0.5);
	z-index: 2;
}
.menu-list {
	display: none;
	position: fixed;
	z-index: 4;
	width: 100%;
	top: 94px;
	height: 50%;
	background: #f2f2f2;
	overflow-x: hidden;
	overflow-y:scroll; 
}
.menu-list li {
	width: 100%;
	background: #f2f2f2;
	float: left;
	border-left: 2px solid #f2f2f2;
}
.menu-list .menu-list-click,
.menu-list li:hover {
	background: #fff;
	border-left: 2px solid #ff5c50;
}
.menu-list li a {
	display: block;
	height: 50px;
	padding: 0px 15px;
	line-height: 50px;
	color: #666;
}
.menu-list .menu-list-click a,
.menu-list li a:hover {
	color: #ff5c50;
}
.menu-list li:hover ul {
	display: block;
}
.menu-list li ul {
	position: fixed;
	display: none;
	width: 51%;
	right: 0;
	top: 94px;
	background: #fff;
	overflow-x: hidden;
	overflow-y:scroll; 
	height: 50%;
}
.menu-list li ul li {
	border: none;
	background: #fff;
}
.menu-list .menu-list-click li a {
	color: #666;
}
.menu-list li ul li:hover {
	border: none;
}
/*课程列表*/

.course-list {

	margin-top: 60px;
}
.course-list li {
	width: 100%;
	padding: 10px;
	background: #fff;
	-webkit-box-shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.15);
	margin-top: 10px;
	display: -webkit-box;
}
.course-img {
	width: 110px;
	height: 83px;
}
.list-div {
	-webkit-box-flex: 1;
	padding-left: 10px;
}
.list-div h3 {
	font-size: 1.1em;
	color: #000;
	font-weight: normal;
}
.list-div p {
	font-size: 0.82em;
	color: #807878;
	line-height: 1.35em;
	margin-top: 7px;
}
.list-price,
.list-discount {
	margin-bottom: 10px;
	display: inline-block;
	white-space: nowrap;
	color: #807878;
	font-size: 0.7em;
	text-decoration: line-through;
	margin-right: 15px;
}
.list-discount {
	font-size: 0.8em;
	color: #e63e6e;
	text-decoration: none;
}
.buy {
	float: right;
	display: inline-block;
	white-space: nowrap;
	font-size: 0.9em;
	color: #807878;
}
.buy i {
	color: #479eef;
	font-size: 1.5em;
}