/*reset*/

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}
/*头部和按钮颜色*/
.mui-bar-nav{background: #479eef;}
.mui-bar-nav .mui-title{color: #fff;font-size:1.2rem;}
.mui-icon{color: #fff;font-size: 1.2rem;}
.mui-btn{background: #479eef;}
/*图标部分*/text

@font-face {
	font-family: 'iconfont';
	src: url('../fonts/iconfont.eot');
	/* IE9*/
	
	src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
	/* IE6-IE8 */
	
	url('../fonts/iconfont.woff') format('woff'),
	/* chrome、firefox */
	
	url('../fonts/iconfont.ttf') format('truetype'),
	/* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	
	url('../fonts/iconfont.svg#iconfont') format('svg');
	/* iOS 4.1- */
}
.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
/*课程介绍*/

.course-images {
	width: 100%;
	height: 200px;
}
.course-info {
	background: #fff;
	display: -webkit-box;
	padding: 10px;
}
.share {
	width: 50px;
	display: block;
	color: #4d4d4d;
	border-left: 1px solid #d9d9d9;
	height: 40px;
	margin-left: 15px;
	text-align: right;
	font-size: 0.8em;
}
.share i {
	font-size: 2em;
	float: right;
}
.share span {
	white-space: nowrap;
	float: right;
	display: inline-block;
	width: 100%;
	margin-top: 7px;
}
.div-left {
	-webkit-box-flex: 1;
}
.div-left h3 {
	font-size: 1.1em;
	color: #000;
	font-weight: normal;
}
.div-left p {
	font-size: 0.82em;
	color: #807878;
	line-height: 1.35em;
	margin-top: 7px;
}
.list-price,
.list-discount {
	margin-bottom: 10px;
	display: inline-block;
	white-space: nowrap;
	color: #807878;
	font-size: 1em;
	text-decoration: line-through;
	margin-right: 15px;
}
.list-discount {
	font-size: 1.3em;
	color: #e63e6e;
	text-decoration: none;
}
.ico {
	height: 22px;
}
.div-box {
	width: 100%;
	background: #fff;
	padding: 0px 10px;
	padding-bottom: 10px;
	font-size: 0.75em;
	color: #999;
}
.div-box img {
	display: inline-block;
	height: 15px;
	position: relative;
	top: 2px;
}
/*tab切换部分*/

.tab_main {
	margin-top: 10px;
}
.mui-segmented-control {
	border: none;
}
.mui-segmented-control .mui-control-item {
	font-size: 1.2em;
	height: 50px;
	line-height: 50px;
	background: #fff;
	border: none;
	color: #4d4d4d;
}
.mui-segmented-control .mui-control-item.mui-active {
	color: #479eef;
	background: #fff;
	border-bottom: 2px solid #479eef;
}
.mui-content-padded {
	margin: 0;
	margin-top: 10px;
	padding: 0;
}
.text {
	padding: 15px 10px;
	font-size: 1em;
	line-height: 1.3em;
	color: #666;
	-webkit-user-select:text;
}
.mui-control-content {
	padding: 0;
	background: #fff;
	margin: 0;
	padding-bottom: 50px;
}
.contact {
	font-size: 1.1em;
}
.contact i {
	font-size: 1.5em;
	margin-right: 10px;
}
.time {
	margin-left: 10px;
	font-size: 0.8em;
	color: #999;
}
.comment-text {
	font-size: 0.8em;
	white-space: normal;
	color: #666;
	margin-top: 5px;
}
/*购物按钮*/

.fixed {
	position: fixed;
	bottom: 0;
	height: 50px;
	width: 100%;
	z-index: 2;
}
.cart-btn,
.buy-btn {
	width: 61.8%;
	height: 50px;
	background: #4d4d4d;
	text-align: center;
	color: #fff;
	line-height: 50px;
	float: left;
}
.cart-btn .iconfont {
	font-size: 1.3em;
}
.buy-btn {
	display: block;
	width: 38.2%;
	background: #479eef;
}