/*头部和按钮颜色*/

.mui-bar-nav {
	background: #479eef;
}

.mui-bar-nav .mui-title {
	color: #fff;
	font-size: 1.2rem;
}

.mui-icon {
	color: #fff;
	font-size: 1.2rem;
}

.mui-btn {
	background: #479eef;
}

.tab_main {
	margin-top: 20px;
}

.mui-segmented-control {
	border: none;
}

.mui-segmented-control .mui-control-item {
	font-size: 0.9em;
	height: 30px;
	line-height: 30px;
	background: #fff;
	border: none;
	color: #4d4d4d;
	border: 1px solid #d9d9d9;
}

.mui-segmented-control .mui-control-item.mui-active {
	color: #479eef;
	background: #f2f9ff;
	border: 1px solid #d9d9d9;
}

.mui-segmented-control .mui-control-item:first-child {
	border-left-width: 1px;
	border-right-width: 0;
}

.mui-content-padded {
	margin: 0;
	margin-top: 10px;
	padding: 0;
}

.text {
	padding: 15px 10px;
	font-size: 1em;
	line-height: 1.3em;
	color: #666;
}

.mui-control-content {
	padding: 0;
	background: #fff;
	margin: 0;
}

.contact {
	font-size: 0.8em;
}

.contact i {
	font-size: 1.2em;
	margin-right: 10px;
}

.time {
	margin-left: 10px;
	font-size: 0.8em;
	color: #999;
}

.comment-text {
	font-size: 0.8em;
	white-space: normal;
	color: #666;
	margin-top: 5px;
}

.color {
	font-weight: normal;
	font-size: 0.8em;
	color: #4d4d4d;
}

#reply ul li {
	font-size: 13px;
	margin-top: 5px;
	float: left;
	width: 100%;
}

.oa-contact-avatar {
	text-align: center;
	font-size: 0.8em;
	color: #666;
}

.mui-clearfix {
	position: relative;
	top: 8px;
}

#dmd-detail {
	margin-top: 7px;
}

#hide-box{
	height: 100%;
	width: 100%;
	display: none;
	position: fixed;
	background: hsla(0,0%,0%,0.5);
	z-index: 2;
}