.tit {
background: #fafafa;
border-bottom: 1px solid #eeeff0;
border-left: 10px solid #2f9bd2;
padding-left: 7px;
height: 35px;
line-height: 35px;
font-size: 14px;
font-weight: bold;
}

ul li{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.oa-contact-cell .mui-table .mui-table-cell {
				padding: 11px 0;
				vertical-align: middle;
			}
			
			.oa-contact-cell {
				position: relative;
				margin: -11px 0;
			}
	
			.oa-contact-avatar {
				width: 75px;
			}
			.oa-contact-avatar img {
				border-radius: 50%;
			}
			.oa-contact-content {
				width: 100%;
			}
			.oa-contact-name {
				margin-right: 20px;
			}
			.oa-contact-name{
				float: left;
				width: 30%;
			}
			
			.oa-contact-position-index {
				float: right;
				text-align: right;
				padding: 0px;
				margin: 0px;
				width: 100%;
			}
			
			.oa-contact-position {
				float: right;
				text-align: right;
				padding: 0px;
				margin: 0px;
				width: 20%;
			}
			
.index{
	height: 130px;
	border-bottom: 1px solid #eeeff0;
}
.icHot{
	margin: 0px;
	padding: 0px;
}
.icHot li .p {
width: 35%;
clear: both;
float: left;
margin-top: 15px;
margin-left: 8px;
margin-bottom: 0px;
}

.icHot li .p  img{
width: 60%;
border-radius:100px;
}

.icHot li .x {
width: 60%;
padding: 0;
margin: 0;
float: right;
}

.icHot li .t {
font-size: 12px;
height: 30px;
padding-top: 10px;
line-height: 30px;
font-weight: bold;
}

.icHot li .t a .spl {
float: left;
}

.icHot li .t a .spr {
float: right;
padding-right: 5px;
}

.icHot li .t {
font-size: 12px;
height: 30px;
padding-top: 10px;
line-height: 30px;
}

.icHot li .i {
padding: 0;
margin: 0;
font-size: 12px;
}

.hot_tag{
	background: #ffb200;
color: #fff;
padding:2px 4px;
margin-left: 5px;
margin-top: 10px;
line-height: 30px;
-webkit-border-radius: 5px;
/*border-radius: 20px;*/
}


.icHot li .t a, .icHot li .t a:visited {
color: #F06805;
}
.menu{ width: 100%; height: 140px; padding: 0; margin:0;}
.menu li{ width:30.66% ; float: left; margin-top: 10px; margin-left: 2%;}
.menu li img { width: 100%; float: left;}
.tname {
 	font-size: 15px;
 	float: left;
 }
 .oa-contact-avatar img {
 	margin-top: 10px;
 }
.add {
 	background: url(../images/add.png) no-repeat;
 	background-size: 100%;
 	height: 30px;
 	width: 79px;
 	margin-top: 8px;
 }
 .add_zfd {
 	background: url(../images/add_zfd.png) no-repeat;
 	background-size: 100%;
 	height: 30px;
 	width: 79px;
 	margin-top: 8px;
 }
 .add_wenda {
 	background: url(../images/add_wenda.png) no-repeat;
 	background-size: 100%;
 	height: 30px;
 	width: 79px;
 	margin-top: 8px;
 }
.doc{background: url(../images/doc.png) no-repeat;	background-size: 100%;
 	height: 30px;
 	width: 79px;
 	margin-top: 8px;}
.color{color:#ffb200; text-align: left; font-size: 15px; font-weight: bold;}
.black{color: #000;}
#reply ul li{ font-size: 13px;  margin-top: 10px; float: left; width: 100%;}
#reply ul li div{ display: inline-block; float: right; color:#45a5d5 ;} 
#reply ul li span{ color: #ffb200; }
.f_r{ float:right; margin-top: 10px; height: 40px; }
.file{
	background: url(../images/upload.jpg) center no-repeat; 
	display: block; 
	background-size: 60%; 
	height: 40px; 
	width: 60%; 
	margin-left: 20%; 
	margin-top: 25px; 
	margin-bottom: 17px; 
}
.file input{ 
	opacity: 0; 
	height: 100%; 
	width: 100%;
}
.pubdoc{
	margin-top: 5px;
	position: relative;
	overflow: hidden;
	padding: 11px 15px;
	background-color: inherit;
	-webkit-touch-callout: none
}
.mui-table-view-chevron .mui-table-view-cell
{
    padding-right:10px;
}

@media (min-width: 768px){
	.hot_tag{
		font-size: 3px;
	}
	 }