.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: rgba(0,0,0,.5);
	/*opacity: .5;*/
}


.caseBlanche {
	background: #fff url(../images/load.gif) no-repeat center;
	height: 34px;
	width: 34px;
	position: fixed;
	border-radius: 100%;
	box-shadow: 0 0 6px #A58C8C;
	top: 34%;
	left: 50%;
	margin: -17px 0 0 -17px;
	z-index: 1041;
/*	display: none;*/
}

.modal-nobackdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 30;
	left: 0;
	z-index: 1040;
	/*opacity: .5;*/
}
