/*添加的字体*/

@font-face {
	font-family: "iconfont";
	src: url('../fonts/iconfont.woff') format('woff');
	/* chrome、firefox */
	
	url('./fonts/iconfont.ttf') format('truetype'),
	/* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}
.iconfont {
	font-family: "iconfont" !important;
	font-size: 1.6rem;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
.logo-img{
	width: 30%;
	margin: 30px 35%;
	
}
html body {
	background-color: #fff;
}
 .mui-bar-nav{background: #479eef;}
 .mui-bar .mui-pull-right{color: #479eef; border-color: #fff;padding: 4px 8px;}

 .mui-bar-nav  h1{font-size: 1em; color: white;}
 .mui-pull-left{color: #fff;}
.ui-logo {
	width: 100px;
	height: 100px;
	/*margin: 60px auto 25px auto;*/
	
	background-image: url(images/user-photo.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius: 60px;
}
.mui-content {
	width: 100%;
	padding: 0px 10px;
	margin-top: 15px;
	background: #fff;
}
.mui-content-padded {
	margin-top: 20px;
}
.text-box {
	border: 1px solid #d9d9d9;
	margin-top: 15px;
	display: -webkit-box;
	height: 54px;
}
.text-box i {
	width: 30px;
	color: #999;
	height:20px;
	font-size: 1.9em;
	display: block;
	margin: 16px 10px;
}
.text-box input {
	-webkit-box-flex: 1;
	margin: 0;
	padding: 0;
	display: block;
	border: none;
	height: 52px;
	line-height: normal;
}
.text-box button {
	display: block;
	width: 100px;
	height: 42px;
	margin: 5px;
	background: #479eef;
	color: #fff;
	text-align: center;
	line-height: 4px;
	-webkit-border-radius: 5px;
	font-size: 0.8em;
}
.ui-login-form {
	border: solid 1px #ddd;
	border-radius: 5px;
	margin: 10px;
	overflow: hidden;
	background-color: #ddd;
	margin-top: 25px;
}
.ui-login-form input {
	border: none;
	margin: 0px;
	font-size: 18px;
	padding: 15px !important;
	border-radius: 0px;
	height: auto;
}
.ui-login-form input:first-child {
	margin-bottom: 1px;
}
.mui-btn-block {
	padding: 12px 0px;
}
#reg {
	display: block;
	margin-top: 65px;
	color: #ccc;
	font-size: 0.9rem;
	text-align: center;
}
.mui-checkbox label {
	display: inline-block;
	width: auto;
	vertical-align: text-bottom;
	padding: 2px 0px;
	color: #777;
}
.mui-checkbox input {
	position: relative !important;
	top: auto!important;
	left: auto!important;
	right: auto!important;
	bottom: auto!important;
	margin: 0px;
	padding: 0px;
	vertical-align: text-bottom;
}
.mui-checkbox {
	margin: 3px 10px;
}
.sign {
	width: 100%;
	padding: 0;

}
.sign li {
	width: 33.33%;
	padding: 0;
	text-align: center;
	float: left;
	list-style: none;
}
.sign li img {
	width: 50%;
	display: inline-block;
	-webkit-box-shadow: 0px 2px 3px hsla(0,0%,0%,0.2);
	border-radius: 50%;
}

.mui-badge {
	background: none;
	font-size: 16px;
	color: #999;
}
#login{margin-top: 15px;}
