/*头部*/
.app-header button span{ font-size: 1.4em; color: #ffffff;}
.person-filled{  height:95px; background: url(../images/profile_info_bg.jpg) no-repeat left top; background-size: 100%; }
.person-filled .ts_login{display: block; height:100%; width:100%; position: relative;}
.person-filled .ts_login img{ margin-top:3%;margin-left:5%;width:4.5em; height:4.5em; border-radius: 100%;}
.person-filled .ts_login i{ height: 56px; width: 56px; font-size:4em; color: #a19e11; position: absolute; left: 33px; top: 18px}
.person-filled .ts_login i.loginNo{ top: 33px;}
.person-filled .ts_login i img{ width: 100%; height: 100%; border-radius: 100%;}
.person-filled .ts_login .span_login{ font-size: 16px; color:#ffffff; position: absolute; left: 114px; top: 28px;}
.person-filled .ts_login .span_address{ font-size:12px; color:#ffffff; position: absolute; left: 114px; top: 50px;}
.person-filled .ts_login .span_lefticon{ font-size: 30px; color: #ffffff; position: absolute; right: 18px; top:36px;}

/*图标部分*/
.profile_view{ width: 100%; height: 86px; margin-bottom:6px; background: #ffffff; }
.profile_view .mui-table-view-cell.mui-media{ padding-top:7px;}
.profile_view li .iconfont {color: #fff; height:49px; width: 49px; display: inline-block; border-radius: 100%; font-size: 2.0rem; padding: 0.9rem 0 0 0;}
.profile_view li:nth-child(1) .iconfont{ background: #86d855;}
.profile_view li:nth-child(2) .iconfont{ background: #a5beff;}
.profile_view li:nth-child(3) .iconfont{ background: #ff9a93;}
.profile_view li span{ font-size: 12px; text-align: center; color: #aba8a8; display: block;}

/*列表部分*/
.profile_link{ background: #F2F2f2;}
.profile_link li{ height: 42px; line-height: 42px; padding:0 0 0 15px; font-size: 15px; color: #49484b; margin-top: 2px; background: #ffffff;}
.profile_link li.mui-table-view-cell>a:not(.mui-btn){ margin: 0; padding: 0; height: 100%;}
.profile_link li .mui-badge{ background: none; color: #ea544a;}
.profile_link li:nth-child(4){ margin-bottom: 8px;}
.iconfont{ font-size: 18px; padding-left: 3px;}
.icon_quan{ color: #00a8ef;}
.icon_course{ color: #64bb30;}
.icon_bag{ color: #e8655c;}
.icon_rec{ color: #dea51b;}
.icon_set{ color: #2b2a3a;}
.icon_about{ color: #2b2a3a;}

/*个人信息*/
.profile_info{ padding-top: 42px;}
.profile_info li:nth-child(1){ height: 79px; background: url(../images/profile_info_bg.jpg) no-repeat left top; background-size: 100%;}
.profile_info li:nth-child(1) >a:not(.mui-btn):after{ font-size: 24px; color: #ffffff;}
.profile_info li .mui-badge{ color: #49484b;}
.profile_info li:nth-child(1) .mui-badge{ font-size: 16px; color: #ffffff;}
.profile_info li:nth-child(1) .person-head{ display: block; height: 49px; width: 49px; position: absolute; left: 37px; top: 14px; overflow: hidden;}
.profile_info li:nth-child(1) .person-head img{ width: 100%; height: 100%; border-radius: 100%;}
.profile_info li:nth-child(1) a img{ margin-top:2%; margin-left:20%; width: 4.3em; height: 4.3em; border-radius: 100%;}
.profile_info li:nth-child(4){ margin-bottom: 1px;}

/*文本框*/
.textCon { height: 83px; background: #ffffff;}
.textCon textarea{ margin: 11px 13px; padding: 0; height: 60px; width: 91.8%; padding: 7px 6px; font-size: 12px; font-family: '微软雅黑'}
.exitBtn{ height: 39px; width: 55%; font-size: 15px; margin: 65px 0 20px 86px; line-height: 39px; padding: 0;}

/*我的课程*/
.selectList{ padding-top: 42px; height: 37px; background: #ffffff; border: none;}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item{ float:left; height: 27px; width: 33.33%; margin-top:9px; padding-bottom: 9px; line-height: 27px; color:#8f9295; display: block; padding: 0;}
.selectList a.mui-control-item span{ display: block; width: 100%; height: 100%; border-left: 2px solid #f7f7f7; font-size: 12px;}
.mui-slider .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{ border-bottom: 2px solid #2a8fed; color: #2a8fed;}
.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group.courseitemCon .mui-slider-item{ border: none;}
 .mui-segmented-control~.mui-slider-group.courseitemCon{ top: 80px; border: none;}

.courseList{ top: 2px; padding: 0; background: #efeff4;}
.courseList li{ overflow: hidden; padding: 13px 26px 5px 12px; margin-bottom: 5px; background: #ffffff;}
.courseList li div.courseItem{ width: 100%; margin-bottom: 10px; float: none;}
.courseList li .totle{ line-height: 30px; text-align: left; font-size: 0.9rem; color: #000000; border-top: 1px solid #999999; padding: 10px 0px 5px 0;}
.courseList li .totle span{ font-size: 16px;  color: red;}
.courseList li span.bookImg{ float: left; width: 25%; height: 50px; overflow: hidden; border: 1px solid #e6e6e6; border-radius: 5px; box-shadow: 5px 5px #e6e6e6 0.5;}
.courseList li span img{ width: auto;  height: 100%; vertical-align:middle;}
.courseList li div{ float: left; width: 75%; padding-left: 8px; height: 62px;}
.courseList li div p:nth-child(1){ font-size: 13px; line-height: 16px; margin-bottom: 0px; color: #000000; font-weight:bold;}
.courseList li div p:nth-child(2){ position: relative; color: #4c4949; font-size: 13px; line-height: 26px;}
.courseList li div p:nth-child(2) span{ color: #7a7878;}
.courseList li div p:nth-child(2) a{ display: block; background: #f38686; width: 66px; height: 26px; color: #ffffff; font-size: 12px; position: absolute; right: 0; bottom: 0px; line-height: 26px; text-align: center; border-radius: 5px;}
.pay{ display: inline-block; white-space: nowrap; padding: 0px 15px; background: #DD524D; color: #fff;-moz-border-radius: 5px; border-radius: 5px; float: right; height: 30px; line-height: 30px; font-size: 16px; } 
/*评论*/
.pinglun{ padding-top: 42px;}
.pinglun li{ padding-bottom: 0px; height: auto;}
.pinglun li:nth-child(2){ padding: 0px 12px; color: #52565a; font-size: 12px;}
.pinglun li:nth-child(2) i{ font-size: 12px; color: #e8e8e8;}
.pinglun li:nth-child(2) i.select{ color: #f4c600;}
.pinglun li:nth-child(3){ color: #52565a; font-size: 12px; padding: 5px 18px;}
.pinglun li:nth-child(3) textarea{ height: 89px; font-size: 12px; padding: 5px 8px;}

/*消息中心*/
.infoCenter.mui-content{ }
.infoCenter .mui-table-view{ background: #f2f2f2;}
.infoCenter li{ padding: 12px 15px 12px 15px; margin:0 0 1px 0;  background: #ffffff;}
.infoCenter li img{ width: 40px; height: 40px; border-radius: 100%;}
.infoCenter li div{ font-size: 14px;}
.infoCenter li div p{ font-size: 12px;}
.infoCenter li .mui-badge{ background: #f29090; color: #ffffff;}

/*我的钱包*/
.mybagtitle{ -webkit-box-shadow:none; box-shadow:none;}
.mybag{ height: 120px; background: #479eef; padding: 42px 0 10px 26px; position: relative;}
.mybag p{ color: #ffffff; font-size: 16px; line-height: 36px; }
.mybag p span{ font-size: 24px; font-weight: bold;}
.mybag a{ font-size: 12px; color:#ffffff ; display: block; width: 42px; height: 23px; border: 1px solid #f1f0f0; border-radius: 5px; position: absolute; right: 80px; top: 70px;text-align: center; line-height: 23px;}
.mybag a:nth-child(3){ right: 25px; }
.bagTit{ height: 55px; line-height: 55px; padding-left: 48px; color: #49484b; background: #ffffff; position: relative; margin-bottom: 1px;}
.bagTit i{ color: #f97c7c; font-size: 28px; position: absolute; left: 10px; top: 1px;}
.bagTit span{ color: #8f9295; font-size: 13px; float: right; padding-right: 10px;}

.mybagSelect{ padding-top: 0;}
.quanList li{ height: 103px; background: url(../images/quan_bg.png) no-repeat left top; background-size: 100%; margin:10px 6px;}
.quanList li div{ float: left; height: 84px; width: 45%; color: #ffffff;}
.quanList li div:nth-child(1){ font-size: 24px; padding: 40px 0 0 20px; position: relative;}
.quanList li div:nth-child(1) span{ font-size: 16px;}
.quanList li div:nth-child(1) p{ width: 58px; height: 22px; border: 1px solid #ffffff; text-align: center; line-height: 22px; position:absolute; right: 12%; top: 10px; border-radius: 5px; font-size: 10px; color: #ffffff;}
.quanList li div:nth-child(2){ font-size: 24px; width: 51%;}
.quanList li div:nth-child(2) p:nth-child(1){ font-size: 16px; color: #000000; font-weight: bold; line-height: 36px; margin-bottom: 0; border-bottom: 1px solid #efefef;}
.quanList li div:nth-child(2) p:nth-child(2){ font-size: 10px; color: #b7b6b6; line-height: 28px; margin-bottom: 0;}
.quanList li div:nth-child(2) p:nth-child(3){ font-size: 12px; color: #5c5858;}
.quanList li div:nth-child(2) p:nth-child(3) span{ color: #cac9c9; font-size: 8px;}
.mui-table-view-chevron .mui-table-view-cell{ padding-right: 0px;}

.changeName{ margin-top: 46px; background: none;}
.changeName .span_name{ height: 45px; background: #ffffff; line-height: 45px;}
.changeName .span_name:after,.changeName:after{ height: 0; }
.changeName .span_name label,.changeName .span_name input{ padding-top: 15px;}
.store{ padding-top: 20px;}
.store button{ width: 320px; height: 40px; border-radius: 5px; background: #479eef; font-size: 18px; letter-spacing: 3px;}