/*reset*/

.mui-content {
	margin-bottom: 50px;
}
ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}
/*头部和按钮颜色*/
.mui-bar-nav{background: #479eef;}
.mui-bar-nav .mui-title{color: #fff;font-size:1.2rem;}
.mui-icon{color: #fff;font-size: 1.2rem;}
.mui-btn{background: #479eef;}
/*图标部分*/

@font-face {
	font-family: 'iconfont';
	src: url('../fonts/iconfont.eot');
	/* IE9*/
	
	src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
	/* IE6-IE8 */
	
	url('../fonts/iconfont.woff') format('woff'),
	/* chrome、firefox */
	
	url('../fonts/iconfont.ttf') format('truetype'),
	/* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	
	url('../fonts/iconfont.svg#iconfont') format('svg');
	/* iOS 4.1- */
}
.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
/*文字提示*/

.tips {
	height: 43px;
	color: #666;
	border-bottom: 1px solid #d9d9d9;
	line-height: 43px;
	padding-left: 51px;
	font-size: 0.8em;
}
.tips img {
	height: 16px;
	margin-left: 10px;
}
/*课程列表*/

.school {
	background: #fff;
	margin-top: 10px;
	padding: 10px;
	border-bottom: 1px solid #d9d9d9;
}
.cart-list li {
	padding: 14px 10px;
	border-bottom: 1px solid #d9d9d9;
	background: #fff;
}
.display-box {
	display: -webkit-box;
}
.cart-checkbox {
	width: 41px;
}
.mui-checkbox.mui-left label,
.mui-radio.mui-left label {
	width: auto;
	color: #e34e4e;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}
.img {
	display: block;
	width: 100px;
	height: 70px;
	-webkit-box-shadow: 0px 2px 3px lightslategray;
}
.cart-box {
	margin-left: 10px;
	-webkit-box-flex: 1;
}
.cart-box h3 {
	font-size: 1.0em;
	font-weight: normal;
	white-space: normal;
}
/*确认订单*/

.fixed {
	position: fixed;
	bottom: 0;
	height: 50px;
	width: 100%;
	z-index: 2;
}
.cart-btn,
.buy-btn {
	width: 61.8%;
	height: 50px;
	background: #4d4d4d;
	text-align: center;
	color: #fff;
	line-height: 50px;
	float: left;
}
.cart-btn .iconfont {
	font-size: 1.3em;
}
.buy-btn {
	display: block;
	width: 38.2%;
	background: #479eef;
}
/*地址部分*/

.address {
	display: -webkit-box;
	padding: 10px;
	margin-top: 10px;
	background: #fff;
	font-size: 1em;
	color: #4d4d4d;
}
.ico-default {
	display: inline-block;
	white-space: nowrap;
	font-size: 0.7em;
	padding: 0px 4px;
	color: #fff;
	background: #a7cff5;
	margin-left: 10PX;
	-webkit-border-radius: 3px;
}
.address i {
	color: #666;
}
.address-info {
	-webkit-box-flex: 1;
}
.mui-icon-arrowright {
	font-size: 45px;
	display: block;
	width: 60px;
	line-height: 45px;
	color: #999;
}
/*其他信息*/
	.font-size {
					font-size: 1.2em;
				}
				.font-size i {
					font-size: 1.2em;
					margin-right: 10px;
				}
.mui-table-view-cell {
	color: #666;
	font-size: 0.9em;
	width: 100%;
	border: none;
	padding: 10px;
	background: #fff;
	margin-top: 10px;
}
.mui-table-view-cell:after {
	content: none;
}
.mui-table-view-cell input {
	margin: 0;
}
.mui-table-view-cell>a:not(.mui-btn) {
	margin-left: 0px;
	padding-left: 0;
}
.youhui {
	display: inline-block;
	padding: 0px 5px;
	white-space: nowrap;
	color: #fff;
	font-size: 0.8em;
	-webkit-border-radius: 4px;
	margin-left: 10px;
	background: #e34e4e;
}
/*修改地址*/

.input-group {
	width: 100%;
	padding: 0px 10px;
	margin: 20px 0px;
	background: #fff;
	float: left;
}
.input-group li {
	width: 100%;
	float: left;
	border-bottom: 1px solid #d9d9d9;
	display: -webkit-box;
	padding: 5px 0px;
}
.input-group li span {
	display: block;
	font-size: 0.9em;
	width: 70px;
	text-align: right;
	color: #000;
	height: 40px;
	line-height: 40px;
}
.input-group li input {
	-webkit-box-flex: 1;
	font-size: 0.9em;
	border: none;
	height: 40px;
	line-height: 40px;
	padding: 0;
	margin: 0;
	margin-left: 15px;
}
.mui-icon .edit {
	font-size: 1.2em;
	top: 9px;
	position: relative;
	color: #ccc;
}
.kujyuu {
	width: 96%;
	margin: 30px 2%;
}
.gojyuu {
	width:100%;
text-align: center;
	padding: 20px 10px;
}
.gojyuu button{ margin: 0px 5%; padding: 10px 25px; font-size: 1em;}
